@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-color: #e7e7e7;
  --dark-grey-color: #c2c2c2;
  --bg-grey: #f5f4f9;
  --purple-color: #603ebe;
  --blue-color: #090c35;
  --secondary-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --grey-color: #e7e7e7;
    --dark-grey-color: #c2c2c2;
    --dark-grey-color: #c2c2c2;
    --bg-grey: #f5f4f9;
    --purple-color: #603ebe;
    --blue-color: #090c35;
    --secondary-color: #000;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Kanit";
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@mixin mobile-list {
  flex: 0 0 100vw;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}
@mixin even-bg {
  @apply bg-blue-color text-white;
}
@mixin odd-base($order: 0) {
  @if $order == 0 {
    @apply bg-white text-white;
  }
  @if $order == 1 {
    @apply bg-bg-grey;
  }
  @if $order == 2 {
    @apply bg-purple-color text-white;
  }
}
@mixin left-content($size: sm) {
  @if $size == md {
    padding-left: 18rem;
  }
  @if $size == lg {
    padding-left: 25%;
  }
  @if $size == xl {
    padding-left: 50%;
  }
  @if $size == 2xl {
    padding-left: 50%;
    padding-right: 20%;
  }
}
@mixin right-content($size: sm) {
  @if $size == md {
    padding-right: 20rem;
  }
  @if $size == lg {
    padding-right: 45%;
  }
  @if $size == xl {
    padding-right: 68%;
    padding-left: 5%;
  }
  @if $size == 2xl {
    padding-right: 68%;
    padding-left: 12%;
  }
}
.box {
  display: flex;
  flex-direction: column;
  height: 800px;
  .tittle-area {
    order: -2;
  }
  figure {
    order: -1;
  }
  .mobile {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    .description-0,
    .description-1,
    .description-2 {
      @include mobile-list;
    }
  }
  .pagination {
    display: flex;
    @apply mx-auto;
  }
}

@screen md {
  .box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, auto);
    &:nth-child(odd) {
      figure {
        grid-area: 1 / 1 / 5 / 5;
        picture {
          transform: scale(2) translate(-15%, 45%);
        }
      }
      .tittle-area {
        grid-area: 1 / 1 / auto / 11;
        @include left-content(sm);
      }
      .description-0 {
        grid-area: 2 / 1 / auto / 11;
        @include left-content(sm);
        @include odd-base(0);
        padding-right: 2rem;
      }
      .description-1 {
        @include odd-base(1);
        grid-area: 3 / 1 / auto / 11;
        @include left-content(sm);
        padding-right: 2rem;
      }
      .description-2 {
        @include odd-base(2);
        grid-area: 4 / 1 / auto / 11;
        padding-bottom: 60px !important;
        @include left-content(sm);
      }
    }
    &:nth-child(even) {
      figure {
        grid-area: 1 / 7 / 11 / 11;
        // overflow: hidden;
        picture {
          transform: scale(2) translate(5%, 24%);
        }
      }
      .tittle-area {
        width: auto;
        grid-area: 1 / 1 / 2 / 11;
        @include right-content(md);
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / 5 / 11;
        @include right-content(md);
        padding-top: 0 !important;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 5 / 1 / 8 / 11;
        @include right-content(md);
      }
      .description-2 {
        color: white;
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 56px !important;
        @include right-content(md);
        @include even-bg;
      }
    }
  }
}
@screen lg {
  .box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, auto);
    &:nth-child(odd) {
      figure {
        grid-area: 1 / 1 / 11 / 5;
        picture {
          transform: scale(1) translate(-20%, 20%);
        }
      }
      .tittle-area {
        grid-area: 1 / 1 / 2 / 11;
        @include left-content(lg);
      }
      .description-0 {
        @include odd-base(0);
        grid-area: 2 / 1 / 5 / 11;
        @include left-content(lg);
      }
      .description-1 {
        @include odd-base(1);
        grid-area: 5 / 1 / 8 / 11;
        @include left-content(lg);
      }
      .description-2 {
        @include odd-base(2);
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
        @include left-content(lg);
      }
    }
    &:nth-child(even) {
      figure {
        grid-area: 1 / 7 / 11 / 11;
        picture {
          transform: scale(1) translate(5%, 24%);
        }
      }
      .tittle-area {
        width: auto;
        grid-area: 1 / 1 / 2 / 11;
        @include right-content(lg);
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / 5 / 11;
        @include right-content(lg);
        padding-top: 0 !important;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 5 / 1 / 8 / 11;
        @include right-content(lg);
      }
      .description-2 {
        @include even-bg;
        color: white;
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
        @include right-content(lg);
      }
    }
  }
}

@screen xl {
  .box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    &:nth-child(odd) {
      figure {
        grid-area: 1 / 1 / 11 / 5;
        picture {
          transform: scale(0.8) translate(0, -10%);
        }
      }
      .tittle-area {
        grid-area: 1 / 1 / 2 / 11;
        @include left-content(xl);
      }
      .description-0 {
        @include odd-base(0);
        grid-area: 2 / 1 / 5 / 11;
        @include left-content(xl);
      }
      .description-1 {
        @include odd-base(1);
        grid-area: 5 / 1 / 8 / 11;
        @include left-content(xl);
      }
      .description-2 {
        @include odd-base(2);
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
        @include left-content(xl);
      }
    }
    &:nth-child(even) {
      figure {
        grid-area: 1 / 7 / 11 / 11;
        overflow: visible;
        picture {
          transform: scale(1) translate(-10%, 0%);
        }
      }
      .tittle-area {
        width: auto;
        grid-area: 1 / 1 / 2 / 11;
        @include right-content(xl);
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / 5 / 11;
        @include right-content(xl);
        padding-top: 0 !important;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 5 / 1 / 8 / 11;
        @include right-content(xl);
      }
      .description-2 {
        @include even-bg;
        color: white;
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
        @include right-content(xl);
      }
    }
  }
}

@screen 2xl {
  .box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    &:nth-child(odd) {
      figure {
        grid-area: 1 / 1 / 11 / 5;
        picture {
          transform: scale(0.8) translate(0, -10%);
        }
      }
      .tittle-area {
        grid-area: 1 / 1 / 2 / 11;
        @include left-content(2xl);
      }
      .description-0 {
        @include odd-base(0);
        grid-area: 2 / 1 / 5 / 11;
        @include left-content(2xl);
      }
      .description-1 {
        @include odd-base(1);
        grid-area: 5 / 1 / 8 / 11;
        @include left-content(2xl);
      }
      .description-2 {
        @include odd-base(2);
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
        @include left-content(2xl);
      }
    }
    &:nth-child(even) {
      figure {
        grid-area: 1 / 7 / 11 / 11;
        picture {
          transform: scale(1) translate(-15%, -5%);
        }
      }
      .tittle-area {
        width: auto;
        grid-area: 1 / 1 / 2 / 11;
        @include right-content(2xl);
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / 5 / 11;
        @include right-content(2xl);
        padding-top: 0 !important;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 5 / 1 / 8 / 11;
        @include right-content(2xl);
      }
      .description-2 {
        @include even-bg;
        @include right-content(2xl);
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
      }
    }
  }
}
