@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-color: #e7e7e7;
  --dark-grey-color: #c2c2c2;
  --bg-grey: #f5f4f9;
  --purple-color: #603ebe;
  --blue-color: #090c35;
  --secondary-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --grey-color: #e7e7e7;
    --dark-grey-color: #c2c2c2;
    --dark-grey-color: #c2c2c2;
    --bg-grey: #f5f4f9;
    --purple-color: #603ebe;
    --blue-color: #090c35;
    --secondary-color: #000;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Kanit";
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.box {
  display: flex;
  flex-direction: column;

  height: 800px;
  .tittle-area {
    order: -2;
  }
  figure {
    order: -1;
  }
  .mobile {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    .description-0 {
      flex: 0 0 100vw;
      scroll-snap-align: start;
      scroll-snap-stop: normal;
    }
    .description-1 {
      scroll-snap-align: start;
      scroll-snap-stop: normal;
      flex: 0 0 100vw;
    }
    .description-2 {
      flex: 0 0 100vw;
      scroll-snap-align: start;
      scroll-snap-stop: normal;
    }
  }
}
@mixin even-bg {
  background: var(--blue-color);
  color: white;
}
@mixin left-content($size: sm) {
  @if $size == lg {
    border-radius: $radius;
  }
}
@mixin right-content($size: sm) {
  @if $size == 2xl {
    padding-right: 68%;
    padding-left: 12%;
  }
}
@screen md {
  .box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, auto);
    &:nth-child(odd) {
      figure {
        grid-area: 1 / 1 / 5 / 5;
        // overflow: hidden;
        picture {
          transform: scale(2) translate(-15%, 45%);
        }
      }
      .tittle-area {
        grid-area: 1 / 1 / auto / 11;
        padding-left: 18rem;
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / auto / 11;
        padding-left: 18rem;
        padding-right: 2rem;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 3 / 1 / auto / 11;
        padding-left: 18rem;
        padding-right: 2rem;
      }
      .description-2 {
        background: var(--purple-color);
        color: white;
        grid-area: 4 / 1 / auto / 11;
        padding-bottom: 60px !important;
        padding-left: 18rem;
      }
    }
    &:nth-child(even) {
      figure {
        grid-area: 1 / 7 / 11 / 11;
        // overflow: hidden;
        picture {
          transform: scale(2) translate(5%, 24%);
        }
      }
      .tittle-area {
        width: auto;
        grid-area: 1 / 1 / 2 / 11;
        padding-right: 20rem;
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / 5 / 11;
        padding-right: 20rem;
        padding-top: 0 !important;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 5 / 1 / 8 / 11;
        padding-right: 20rem;
      }
      .description-2 {
        color: white;
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 56px !important;
        padding-right: 20rem;
        @include even-bg;
      }
    }
  }
}
@screen lg {
  .box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    &:nth-child(odd) {
      figure {
        grid-area: 1 / 1 / 11 / 5;
        picture {
          transform: scale(1) translate(-20%, 20%);
        }
      }
      .tittle-area {
        grid-area: 1 / 1 / 2 / 11;
        padding-left: 25%;
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / 5 / 11;
        padding-left: 25%;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 5 / 1 / 8 / 11;
        padding-left: 25%;
      }
      .description-2 {
        background: var(--purple-color);
        color: white;
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
        padding-left: 25%;
      }
    }
    &:nth-child(even) {
      figure {
        grid-area: 1 / 7 / 11 / 11;
        overflow: visible;
        picture {
          transform: scale(1) translate(5%, 24%);
        }
      }
      .tittle-area {
        width: auto;
        grid-area: 1 / 1 / 2 / 11;
        padding-right: 18rem;
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / 5 / 11;
        padding-right: 18rem;
        padding-top: 0 !important;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 5 / 1 / 8 / 11;
        padding-right: 18rem;
      }
      .description-2 {
        @include even-bg;
        color: white;
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
        padding-right: 18rem;
      }
    }
  }
}

@screen xl {
  .box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    &:nth-child(odd) {
      figure {
        grid-area: 1 / 1 / 11 / 5;
        picture {
          transform: scale(0.8) translate(0, -10%);
        }
      }
      .tittle-area {
        grid-area: 1 / 1 / 2 / 11;
        padding-left: 50%;
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / 5 / 11;
        padding-left: 50%;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 5 / 1 / 8 / 11;
        padding-left: 50%;
      }
      .description-2 {
        background: var(--purple-color);
        color: white;
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
        padding-left: 50%;
      }
    }
    &:nth-child(even) {
      figure {
        grid-area: 1 / 7 / 11 / 11;
        overflow: visible;
        picture {
          transform: scale(1) translate(-10%, 0%);
        }
      }
      .tittle-area {
        width: auto;
        grid-area: 1 / 1 / 2 / 11;
        padding-right: 68%;
        padding-left: 5%;
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / 5 / 11;
        padding-right: 68%;
        padding-left: 5%;
        padding-top: 0 !important;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 5 / 1 / 8 / 11;
        padding-right: 68%;
        padding-left: 5%;
      }
      .description-2 {
        @include even-bg;
        color: white;
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
        padding-right: 68%;
        padding-left: 5%;
      }
    }
  }
}

@screen 2xl {
  .box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    &:nth-child(odd) {
      figure {
        grid-area: 1 / 1 / 11 / 5;
        picture {
          transform: scale(0.8) translate(0, -10%);
        }
      }
      .tittle-area {
        grid-area: 1 / 1 / 2 / 11;
        padding-left: 50%;
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / 5 / 11;
        padding-left: 50%;
        padding-right: 20%;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 5 / 1 / 8 / 11;
        padding-left: 50%;
        padding-right: 20%;
      }
      .description-2 {
        background: var(--purple-color);
        color: white;
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
        padding-left: 50%;
        padding-right: 20%;
      }
    }
    &:nth-child(even) {
      figure {
        grid-area: 1 / 7 / 11 / 11;
        overflow: visible;
        picture {
          transform: scale(1) translate(-15%, -5%);
        }
      }
      .tittle-area {
        width: auto;
        grid-area: 1 / 1 / 2 / 11;
        padding-right: 60%;
        padding-left: 12%;
      }
      .description-0 {
        background: #fff;
        grid-area: 2 / 1 / 5 / 11;
        padding-right: 60%;
        padding-left: 12%;
        padding-top: 0 !important;
      }
      .description-1 {
        background: var(--bg-grey);
        grid-area: 5 / 1 / 8 / 11;
        padding-right: 60%;
        padding-left: 12%;
      }
      .description-2 {
        @include even-bg;
        @include right-content(2xl);
        grid-area: 8 / 1 / 11 / 11;
        padding-bottom: 60px !important;
      }
    }
  }
}
